/* Стили для блоков логотип-геопозиция и кнопка "Избранное" - авторизация */

.left-section, .right-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Стили для геопозиции*/
.geo-block, .profile-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.geo-btn {
    margin: 0 8px 0 16px;
    box-sizing: border-box;
  
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease;
  }
  .geo-text {
    font-weight: 500;
  }

  /* Стили для кнопки "Избранное"*/
  .favourites-block {
    display: flex;
    align-items: center;
  
    padding: 6px 8px;

    border-radius: 37px;
    border: none;
    background-color: #fff;
    
    cursor: pointer;
  }
  
  .favourites-block:hover {
    background-color: #f1f1f1;
  }

  .count-favourites {
    margin-left: 10px;
  
    font-size: 14px;
  }

  /*Стили для иконки авторизации пользоателя*/
  .profile-btn {
    width: 32px;
    height: 32px;
    box-sizing: border-box;

    border-radius: 50%;
    border: none;

    background-image: url('/media/default-avatar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease;
  }

  .profile-name {
    margin: 0 7px 0 40px;

    color: #222;
  }

  .profile-name:hover {
    color: #767676;
  }

  /* Медиазапросы для адаптивности */
  @media  (max-width: 900px) {
    .geo-block {
        display: none;
    }

    .profile-name {
          margin: 0 7px 0 10px;
        }

  }

  @media  (min-width: 650px) and (max-width: 900px) {
     .profile-block {
        display: none;
    }
   
  }

  @media (max-width: 500px) {
    .profile-block {
       display: none;
   }
  
 }