@font-face {
    font-family: "NEXT ART";
    src: 
    url(font/nextart/NEXT\ ART_Bold.otf) format("otf"),
    url(font/nextart/NEXT\ ART_Heavy.otf) format("otf"),
    url(font/nextart/NEXT\ ART_Light.otf) format("otf"),
    url(font/nextart/NEXT\ ART_Regular.otf) format("otf"),
    url(font/nextart/NEXT\ ART_SemiBold.otf) format("otf");
}

body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;

    color: #18121e;
    font-family: "Nunito Sans", sans-serif;
}

.conteiner {
    margin: 0 auto;
    padding: 16px;
    max-width: 1181px;

    text-align: center;
}

.btn {
    padding: 12px 24px;
   
    border-radius: 4px;
    background: #1a3e3e;
    border: none;

    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #fdfdfd;
}

.btn:hover {
    border: 1px solid #1a3e3e;
    background: #fdfdfd;

    color: #1a3e3e;
    transition: color .3s linear;
}

.none {
    display: none;
}

.article__Title {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
}

.article__subTitle {
    font-size: 24px;
    line-height: 83%;
    color: #f2be22;
}

.article__discription {
    margin: 40px 0;

    font-size: 18px;
    line-height: 150%;
}

