.nav {
    position: sticky;
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 137px;
    height: 30px;
    background-color: #fff;
    mask: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg"><path d="M0.153499 27.9142C0.397899 27.8562 24.8152 22.0349 43.1998 13.8808C45.2449 12.9738 46.9008 12.4361 48.2956 12.1827C46.7329 13.7573 37.54 17.6827 44.882 18.3783C51.6186 19.0172 40.5214 27.0108 35.4343 29.917C22.0532 34.1597 13.3687 35.8259 13.2126 35.8555L13.3967 36.8371C13.4423 36.8284 14.2201 36.6793 15.6276 36.3679C23.0039 34.7354 47.7648 28.6221 76.1721 14.6517C80.1558 12.6925 83.4072 11.606 86.1436 11.2028C85.3414 15.3186 76.0532 24.42 90.8867 26.7182C104.416 28.8142 77.2846 34.1361 67.1729 36.8458C65.7145 37.2367 64.6097 37.5733 64.0327 37.8377C59.5683 39.8854 111.467 38.0435 134.676 37.9502C135.433 37.9769 136.206 37.9922 137 37.9922V36.9933C116.27 36.9933 108.928 27.5136 103.028 19.8966C96.8975 11.9809 92.0551 5.72774 75.7316 13.7553C71.9386 15.6195 68.1041 17.3982 64.2312 19.0902C60.8086 17.8722 58.7358 16.1204 56.9198 14.5827C53.5385 11.7195 51.0952 9.65046 42.9304 13.2725C24.6028 21.4006 0.243734 27.2086 0 27.2662L0.153499 27.9142Z"/></svg>');
} 

.nav__list {
    display: flex;
    gap: 24px;

    padding: 0;
    margin-left: auto;
    margin-right: 50px;

    list-style-type: none;
    font-weight: 600;
    font-size: 18px;
    color: #fdfdfd;
}

.nav__list li a {
    text-decoration: none;
    color: #fdfdfd;
}

.btn__burger {
    border: none;
    padding: 0;
}

.burger__menu {
    display: none;
}

#calendar {
    position: absolute;
    margin-top: 50px;
    background: #a19d9dcc;
}

@media (max-width: 1050px) {
.btn__burger {
    width: 21px;
    height: 18px;
    margin-left: auto;
       
    mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 22 18" xmlns="http://www.w3.org/2000/svg"><path  clip-rule="evenodd" d="M0.5 1.5C0.5 1.10218 0.658035 0.720645 0.93934 0.43934C1.22064 0.158036 1.60218 0 2 0H20C20.3978 0 20.7794 0.158036 21.0607 0.43934C21.342 0.720645 21.5 1.10218 21.5 1.5C21.5 1.89782 21.342 2.27936 21.0607 2.56066C20.7794 2.84196 20.3978 3 20 3H2C1.60218 3 1.22064 2.84196 0.93934 2.56066C0.658035 2.27936 0.5 1.89782 0.5 1.5ZM0.5 9C0.5 8.60218 0.658035 8.22064 0.93934 7.93934C1.22064 7.65804 1.60218 7.5 2 7.5H20C20.3978 7.5 20.7794 7.65804 21.0607 7.93934C21.342 8.22064 21.5 8.60218 21.5 9C21.5 9.39782 21.342 9.77936 21.0607 10.0607C20.7794 10.342 20.3978 10.5 20 10.5H2C1.60218 10.5 1.22064 10.342 0.93934 10.0607C0.658035 9.77936 0.5 9.39782 0.5 9ZM9.5 16.5C9.5 16.1022 9.65804 15.7206 9.93934 15.4393C10.2206 15.158 10.6022 15 11 15H20C20.3978 15 20.7794 15.158 21.0607 15.4393C21.342 15.7206 21.5 16.1022 21.5 16.5C21.5 16.8978 21.342 17.2794 21.0607 17.5607C20.7794 17.842 20.3978 18 20 18H11C10.6022 18 10.2206 17.842 9.93934 17.5607C9.65804 17.2794 9.5 16.8978 9.5 16.5Z"/></svg>');
    background-color: #fff;
    mask-repeat: no-repeat;
}

.btn__burger:hover {
    width: 25px;
    height: 22px;
}

.nav__logo { 
    mask: url('data:image/svg+xml; utf8, <svg viewBox="0 0 81 8" xmlns="http://www.w3.org/2000/svg"><path d="M2.0417 3.588H3.96733C4.26911 3.588 4.4224 3.56416 4.56131 3.50684C4.88704 3.37313 5.13612 3.0867 5.13612 2.68563C5.13612 2.28938 4.89662 1.99813 4.56131 1.85971C4.4224 1.80239 4.2739 1.77379 3.96254 1.77379H2.0417V3.588ZM2.0417 7.55545H0.896851V0.709113H4.10625C4.63795 0.709113 4.98763 0.799801 5.28462 0.971707C5.87863 1.29156 6.26663 1.90744 6.26663 2.68086C6.26663 3.43522 5.87863 4.06063 5.27984 4.38531C4.98284 4.55239 4.63795 4.64791 4.10625 4.64791H2.0417V7.55545ZM10.5691 0.709113H11.8481L13.7163 4.21823L15.5269 0.709113H16.8059L14.1665 5.66003C13.8408 6.27114 13.63 6.63402 13.3234 6.95387C12.969 7.31675 12.5379 7.56975 11.9631 7.56975C11.5559 7.56975 11.1583 7.44087 10.8134 7.20217L11.3978 6.23294C11.5703 6.35712 11.7714 6.42392 11.9774 6.42392C12.3798 6.42392 12.6241 6.18522 12.9354 5.62666C12.9402 5.60754 13.0935 5.33541 13.0935 5.33541L10.5691 0.709113ZM21.4581 0.709113H22.076L25.0507 4.2755L28.0205 0.709113H28.6433V7.55545H27.4937V2.88143L25.0507 5.85583L22.6029 2.88143V7.55545H21.4581V0.709113ZM33.535 0.704346H39.3407V1.77379H37.0079V7.55545H35.8582V1.77379H33.535V0.704346ZM49.0081 7.55545V2.77638L44.8503 7.55545H44.2276V0.709113H45.3772V5.48342C46.7616 3.89355 48.1459 2.29892 49.535 0.709113H50.1577V7.55545H49.0081ZM60.7878 5.52161C60.7878 6.32369 60.3856 6.95864 59.7725 7.29285C59.4708 7.45999 59.1115 7.55545 58.575 7.55545H55.4278V0.709113H60.1653V1.77379H56.5727V3.49254H58.575C59.1115 3.49254 59.4708 3.588 59.7678 3.7599C60.3856 4.08929 60.7878 4.74336 60.7878 5.52161ZM59.6528 5.52161C59.6528 5.09194 59.3941 4.78156 59.0492 4.63361C58.9055 4.57628 58.7474 4.54762 58.4409 4.54762H56.5727V6.49554H58.4361C58.7522 6.49554 58.9103 6.46694 59.0492 6.40485C59.3989 6.26161 59.6528 5.94652 59.6528 5.52161ZM65.7419 0.709113H70.4318V1.76896H66.8916V3.27291H69.6366V4.32322H66.8916V6.49554H70.4318V7.55545H65.7419V0.709113ZM75.0886 0.704346H80.8944V1.77379H78.5614V7.55545H77.4118V1.77379H75.0886V0.704346Z" /></svg>');
    mask-repeat: no-repeat;
}

.nav__btn {
    display: none;
}

.nav__list {
    display: none;
}

.burger__menu.active {
    position: absolute;
    z-index: 3;
    display: block;

    width: 290px;
    height: calc(100% + 16px);
    left: -16px;
    top: -16px;

    background: #1a3e3e;
}

.burger__menu::before {
    content: "";
   
    position: absolute;
    left: 290px;
    width: 100vw;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

.burger__menu__list {
    margin-top: 50px;
}

.burger__menu__list li {
    margin-bottom: 16px;

    text-align: start;
    font-size: 14px;
    line-height: 129%;
    list-style-type: none;
}

.burger__menu__list li a {
    text-decoration: none;
    color: #fdfdfd;
}

.burger__menu__list li a::before {
    content: "";

    display: inline-block;
    margin-right: 8px;
    width: 10px;
    height: 14px;

    background-image: url(img/Arrow-burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.burger__menu__list li a:hover {
   color: #f2be22;
}

}